/.idea/workspace.xml
/.idea/libraries
/target/maven-archiver
/target/schedule-1.0-SNAPSHOT/META-INF/MANIFEST.MF
/target/schedule-1.0-SNAPSHOT/META-INF/maven/schedule/schedule/pom.properties
/target/surefire